
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: rebeccapurple;
    text-decoration: underline;
    font-weight: bold;
}

body, html {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    color: whitesmoke;
    transition: .6s;
}


.nav-links {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.nav-links li {
    margin: 0 30px;
    text-decoration: none;
    color: white;
}
.nav-links a {
    color: whitesmoke;
}

.logo {
    font-size: 33px;
    letter-spacing: .25rem;
    margin-top: 10px;
}

.logo span {
    color: #14213d;
}

nav.sticky {
    background: #14213d;
}

nav.sticky span {
    color: white;
}

/* Header */

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/main.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-bottom: 250px;
    text-align: center;
    color: #14213d;
    margin-left: 5px;

}

.header-content h2 {
    font-size: 10vmin;
}

.header-content h1 {
    font-size: 8vmin;
}

.line {
    width: 420px;
    height: 4px;
    background-color: #5B42F3;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 20px;
    margin-bottom: 30px;
}

#cta {
    font-size: 25px;
    padding: 8px 15px;
    color: whitesmoke;
    transition: transform .2s;
}

#cta:hover {
    color: #14213d;
    transform: scale(1.3);
}

#menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    font-size: 35px;
    display: none;
}

/* About me */
section {
    min-height: 100vh;
    width: 100%;
    margin: 80px auto;
}

.aboutme-title {
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 4vmin;
    color: #14213d;
}
.aboutme-content{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}

@media only screen and (max-width:850px) {
    .aboutme-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
}

.aboutme-img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.aboutme-content img {
    width: 70%;
    box-shadow: 0 5px 10px 0 #14213d;
}

.aboutme-pbs {
    width: 50%;
    line-height: 2.5rem;
}

.aboutme-pbs h1 {
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

.aboutme-pbs p {
    font-size: 20px;
}

.aboutme-line {
    width: 210px;
    height: 4px;
    background-color: #5B42F3;
    margin: 10px auto;
    border-radius: 5px;
}

.aboutme-pbs button {
    background-color: #14213d;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    min-height: 44px;
    min-width: 60px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
    border: 2px solid #5B42F3;
    margin-top: 40px;
  }
  
  .aboutme-pbs button:hover,
  .aboutme-pbs button:focus {
    opacity: .75;
  }

/* .aboutme-pbs button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 30px;
}

.aboutme-pbs button:active,
.aboutme-pbs button:hover {
  outline: 0;
}

.aboutme-pbs button span {
  background-color: #14213d;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.aboutme-pbs button:hover span {
  background: none;
} */

@media (max-width: 768px) {
.aboutme-pbs button  {
    background-color: #14213d;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    min-height: 44px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    border: 2px solid #5B42F3;
  }
}

/* Skills */

.skills-title {
    margin-top: 30px;
    text-align: center;
    font-size: 4vmin;
    color: #14213d;
}

.skills-line {
    width: 260px;
    height: 4px;
    background-color: #5B42F3;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
}

.col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-img {
    width: 60%;
    margin-top: 30px;
}

.col-container p {
    font-size: 25px;
    margin-top: 15px;
}

#skills-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#skills-col {
    width: 250px;
    height: 240px;
    box-shadow: 0 3px 10px 0 #14213d;
    border-radius: 5px;
}

/* Projects */

#projects-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    #projects-row   {
        display: flex;
        justify-content: center;
        gap: 200px;
        flex-direction: column;
      }
    }

.projects-title {
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 4vmin;
    color: #14213d;
}

.projects-line {
    width: 260px;
    height: 4px;
    background-color: #5B42F3;
    margin: auto;
    border-radius: 5px;
}

#projects-col {
    width: 520px;
    height: 70vh;
    /* border-bottom: 1px solid black; */
    text-align: center;
    line-height: 2rem;
    letter-spacing: 2px;
}

.projects-content {
    height: 240px;
}
.projects-content p {
    margin-bottom: 30px;
}
.projects-content h5 {
    color: #5B42F3;
    font-weight: 900;
    font-size: 17px;
}

#projects-col h1 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    margin-bottom: 25px;
}

.projects-col-img img{
    height: 300px;
    width: 100%;
    box-shadow: 0 5px 10px 0 #14213d;
    margin-bottom: 25px;
}

.project-btn-container {
    display: flex;
    justify-content: space-around;
}

.projects-btn {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  border: 2px solid #5B42F3;
}

.projects-btn:hover,
.projects-btn:focus {
  opacity: .75;
}

@media (max-width: 768px) {
    .projects-btn {
        background-color: #222;
        border-radius: 4px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
        min-height: 44px;
        min-width: 10px;
        outline: none;
        overflow: hidden;
        padding: 9px 20px 8px;
        position: relative;
        text-align: center;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 120px;
        border: 2px solid #5B42F3;
        margin-top: 100px;
        margin-bottom: 100px;
      }
    }

/* Contact */

.contact-title {
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 4vmin;
    color: #14213d;
}

.contact-line {
    width: 260px;
    height: 4px;
    background-color: #5B42F3;
    margin: auto;
    border-radius: 5px;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px;
}

.contact-form {
    padding: 50px 50px 30px 30px;
    width: 40%;
    box-shadow: 0 5px 10px 0 #14213d;
    margin-bottom: 100px;
}

.contact-form a {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.contact-info {
    margin-top: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#contact-link {
    display: flex;
    gap: 50px;
    transition: transform .2s;
}

#contact-link h2 {
    margin-top: 7px;
    color: #14213d;
}

#contact-link i {
    color: #14213d;
}

#contact-link:hover {
    display: flex;
    gap: 50px;
    transform: scale(1.03);
    color: #5B42F3;
}

#contact-link h2:hover {
    margin-top: 7px;
    color: #5B42F3;
}

#contact-link i:hover {
    color: #5B42F3;
}


.contact-btn {
    background-color: #14213d;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 120px;
    border: 2px solid #5B42F3;
  }
  
  .contact-btn:hover,
  .contact-btn:focus {
    opacity: .75;
  }

  footer {
      width: 100%;
      background-color: #14213d;
      height: 10%;
      color: white;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  @media (max-width: 768px) {
    .contact-container  {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 50px;
        flex-direction: column;
      }
      .contact  {
        margin-top: 250px;
      }

      #contact-link h2 {
          font-size: 15px;
          margin-top: 20px;
    }

    .contact-form {
        width: 100%;
        box-shadow: 0 5px 10px 0 #14213d;
        margin-bottom: 50px;
    }
    }



/* Mobile Veiw */
@media only screen and (max-width:850px) {
    #menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #14213d;
        margin-top: -1000px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        /* border-bottom-left-radius: 20%; */
        border-bottom-right-radius: 20%;
    }
    .nav-links li {
        margin: 30px auto;
    }
}